
header {
    grid-area: header;
}
#top {
    grid-area: top;
}
#bottom {
    grid-area: bottom;
}
#sidetop1 {
    display: none;
    grid-area: sidetop1;
}
#sidebottom1 {
    display: none;
    grid-area: sidebottom1;
}
footer {
    grid-area: footer;
}
#sidetop2 {
    display: none;
    grid-area: sidetop2;
}
#sidebottom2 {
    display: none;
    grid-area: sidebottom2;
}
#sidebottom3 {
    display: none;
    grid-area: sidebottom3;
}
#nav1 {
    grid-area: nav1;
}
#contacts {
    grid-area: contacts;
}
#informmenu1 {
    grid-area: informmenu1;
}
#informmenu2 {
    display: none;
    grid-area: informmenu2;
}
#informmenu3 {
    display: none;
    grid-area: informmenu3;
}
#informmenu4 {
    display: none;
    grid-area: informmenu4;
}
.hidden {
    display: none;
}
    #gridbox {
    min-height: 100vh;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "header"
                         "nav1"
                         "top"
                         "bottom"
                         "contacts"
                         "informmenu1"  
                         "footer";
}
@media (min-width: 500px) {
    .hidden {
        display: block;
    }
}   
@media (min-width: 768px) {
    #sidetop1 {
        display: block;
    }
    #sidebottom1 {
        display: block;
    }
    
    #informmenu2 {
        display: block;
    }
    #gridbox {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "header header"
                          "nav1 nav1"
                          "top sidetop1"
                          "bottom sidebottom1" 
                          "contacts contacts"
                          "informmenu1 informmenu2"
                          "footer footer";
    }
} 
@media (min-width: 992px) {
}   
@media (min-width: 1200px) {
    #sidebottom3 {
        display: block;
    }
    #informmenu3 {
        display: block;
    }
    #gridbox {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: "header header header"
                             "nav1 nav1 nav1" 
                             "top sidetop1 sidetop1"
                             "bottom sidebottom1 sidebottom3 "
                             "contacts contacts contacts"
                             "informmenu1 informmenu2 informmenu3" 
                             "footer footer footer";
        }  
}   
@media (min-width: 1400px) {
    #sidetop2 {
        display: block;
    }
    #sidebottom2 {
        display: block;
    }
    #informmenu4 {
        display: block;
    }
        #gridbox {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: "header header header header"
                             "nav1 nav1 nav1 nav1" 
                             "top sidetop1 sidetop1 sidetop2"
                             "bottom sidebottom1 sidebottom3 sidebottom2"
                             "contacts contacts contacts contacts"
                             "informmenu1 informmenu2 informmenu3 informmenu4" 
                             "footer footer footer footer";
        }

}